* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #000000;
    --snd-bf: #bc8f8fa1;
    --text-color:  #FFFFFF;
    --main-color: #205295;
    --snd-bg-color: #2c2c6bba; 
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    font-family: 'Segoe UI';
}

.navbar a {
    font-size: 1.5rem;
    color: var(--tetx-color);
    font-weight: 700;
    cursor: default;
    font-family: 'Segoe UI';
    padding-left: 20px;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('img/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.home-content {
    text-align: center; /* Menyusun teks rata tengah secara horizontal */
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Segoe UI';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
}

.home-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Segoe UI';
    margin-bottom: 3rem;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5);  */
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Segoe UI'; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Menambahkan efek timbul pada teks */
}




/* .home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    position: relative;
    top: 10px;
    left: 30px;
    border-radius: 50%;
    /* border: 2px solid var(--main-color); */
} */

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.3rem;
    color: var(--bg-color);
    letter-spacing: 0rem;
    font-weight: 600;
    transition: .5s ease;
    font-family: 'Segoe UI';
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url('img/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-img img {
    width: 27vw;
    border-radius: 3rem;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    /* left: 20px; */
    font-family: 'Segoe UI';
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    font-family: 'Segoe UI';
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    position: relative;
    /* left: 20px; */
    font-family: 'Segoe UI';
}

.about-content a {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
    position: relative;
    /* left: 20px; */
    font-family: 'Segoe UI';
    color: var(--main-color)
}

.educations h2 {
    margin-bottom: 5rem;
}

.educations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.educations-container .educations-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    height: 53rem;
}

.educations-container .educations-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.educations-box h3 {
    font-size: 2.3rem;
    font-family: 'Segoe UI';
    color: #56b6ff;
}

.educations-box h1 {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-family: 'Segoe UI';
    text-align: center;
}

.educations-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-family: 'Segoe UI';
    text-align: left;
}

.educations-box li {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
    font-family: 'Segoe UI';
    text-align: left;
}

.event {
    background-image: url('img/bg1.png'); /* Ganti 'nama-file-gambar.jpg' dengan lokasi dan nama file gambar Anda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.event h2 {
    margin-bottom: 2rem;
}

.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.event-container .event-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.event-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.8;
}

.event-box:hover img {
    transform: scale(1.1);
}

.event-box .event-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--snd-bf));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.event-box:hover .event-layer {
    transform: translateY(0);
}

.event-layer h4 {
    font-size: 2.5rem;
    font-family: 'Segoe UI';
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.event-layer p {
    font-size: 1.3rem;
    margin: .3rem 0 1rem;
    font-family: 'Segoe UI';
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.feedback{
    background-image: url('img/bg1.png'); /* Ganti 'nama-file-gambar.jpg' dengan lokasi dan nama file gambar Anda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feedback h2 {
    margin-bottom: 3rem;
}

.feedback form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.feedback form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feedback form .input-box input,
.feedback form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
    font-family: 'Segoe UI';
}

.feedback form .input-box input {
    width: 49%;
}

.feedback form textarea {
    resize: none;
}

.feedback form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    /* background: ; */
}

.footer-text {
    font-size: 1.3rem;
    font-family: 'Segoe UI';
}

/* BREAKPOINT */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .educations {
        padding: 7rem;
    }

    .event {
        padding-bottom: 7rem;
    }

    .feedback {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
} 

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img img {
        width: 60vw;
        margin-bottom: 4rem;
        margin-right: 50px;
    }

    .about {
        flex-direction: column;
    }

    .about-img img {
        width: 65vw;
        margin-top: 4rem;
    }

    .educations h2 {
        margin-bottom: 3rem;
    }

    .event h2 {
        margin-bottom: 3rem;
    }

    .event-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .event-container {
        grid-template-columns: 1fr;
    }

    .home-img img {
        width: 60vw;
        margin-bottom: 4rem;
    }

    .about-img img {
        width: 65vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%
    }

    .feedback form .input-box input {
        width: 100%
    }
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pastikan video mencakup seluruh area .home */
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

.book-form{
    width: 80%;
    margin:0 auto;
    margin-top: -5rem;
    background: var(--bg-color);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17,.3);

    form{
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap:1.5rem;

        .inputBox{
            flex:1 1 20rem;

            span{
                font-size: 1.4rem;
                color: var(----text-color:  #FFFFFF;)
            }

            input{
                width: 100%;
                padding:1.2rem 1.4rem;
                border-radius: 5rem;
                /* border: */
                font-size: 1.6rem;
                /* color: */
                text-transform: none;
            }
        }

        .btn{
            flex:1 1 20rem
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

    .video-container{
        flex: 1 1 42rem;
    }

        video{
            border-radius: 3rem;
            width: 100%;
        }

        .controls{
            text-align: center;
            padding: 2rem 0;

            span{
                display: inline-block;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                background: var(--text-color);
                cursor: pointer;
                margin: .7rem;

                &:hover{
                    background: var(--main-color);
                }
            }
        }

    .content{
        flex: 1 1 42rem;
        margin-bottom: 5rem;

        span{
            color: var(--main-color); 
            font-size: 2.5rem;
            font-family: 'Segoe UI';
            font-weight: bold;
        }

        h3{
            color: var(--text-color); 
            font-size: 3rem;
            font-family: 'Segoe UI';
            margin-top: .5rem;
        }

        p{
            padding: 1rem 0;
            font-size: 1.4rem;
            color: var(--text-color);
            line-height:2;
            font-family: 'Segoe UI';
            text-align: justify;
        }
    }
}

/* .heading{
    text-align: center;
    margin-bottom: 2rem;

    span{
        color: var(--main-color);
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
        color: var(--text-color);
    }
}

@mixin grid($val) {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

.event .box-container{
    @include grid(27rem);

    .box{
        border-radius: 1rem;
        overflow: hidden;
        background: black;

        &:hover img{
            transform: scale(1.1)
        }

        .image{
            height: 20rem;
            overflow: hidden;
            width: 100%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
} */

.location{
    background-image: url('img/bg1.png'); /* Ganti 'nama-file-gambar.jpg' dengan lokasi dan nama file gambar Anda */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.map-container iframe {
    width: 600px;
    height: 350px;
    border: 0;
}
